<% if user_signed_in? %>
  <h3><%= link_to 'New auction', new_auction_path %></h3>
<% end %>

<table >
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>End Date</th>
      <th>Current Highest Bid</th>
      <th>Place Bid</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "auction", collection: @auctions %>
  </tbody>
</table>
